#code-snippet {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  overflow: auto;
}

.code-snippet__code {
  width: 100%;
  max-width: 550px;
  margin-top: auto;
}

.code-snippet__footer {
  color: #fff;
  background: #000;
  margin-top: auto;
  padding: 10px 0;
  width: 100%;
  box-shadow: 0px -5px 5px 0px rgba(50, 50, 50, 0.75);
}

.code-snippet__footer-item {
  font-size: 11px;
  letter-spacing: 0.5px;
  width: 120px;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
}

.code-snippet__footer-item--large {
  width: 150px;
}

.code-snippet__footer-item input,
.code-snippet__footer-item svg {
  margin-right: 5px;
}

.code-snippet__footer-item input {
  position: relative;
  top: 3px;
}

.code-snippet__footer-item svg {
  position: relative;
  top: 2px;
  height: 1.2em;
  width: 1.2em;
}

.code-snippet__footer-item a {
  color: #fff;
  text-decoration: none;
}
