#app {
  display: flex;
  height: 100%;
  font-family: Open Sans, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.app__code-summary {
  display: flex;
  align-items: center;
  flex-basis: 60%;
  padding: 0 30px;
}

.app__code-snippet {
  display: flex;
  flex-basis: 40%;
  align-items: center;
  justify-content: center;
  background-color: #272823;
}
