.code-summary-message-prompt {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  min-width: 70%;
}

blockquote.code-summary-message-prompt {
  padding: 2rem;
  box-shadow: 3px 3px 15px #ccc;
  border: 1px solid #eee;
  border-top: 10px solid #121212;
  border-radius: 5px;
  background-color: #fff;
}

blockquote.code-summary-message-prompt h4 {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin: 0;
  font-size: 15px;
}

blockquote.code-summary-message-prompt p {
  font-family: DM Sans, sans-serif;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
}

blockquote.code-summary-message-prompt svg.info-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}
